.centerized {
  text-align: center;
}

.questionType {
  width: 805px;
  height: 108px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  background: #B3C1B9;
  border: 0.7px solid #A9B2AD;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-size: 24px;
  text-align: left;
  line-height: 100px;
  text-indent: 3em;
}

.answerType {
  width: 785px;

  background: rgba(179, 193, 185, 0.5);
  border: 0.7px solid #A9B2AD;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 755px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  padding: 15px;

  font-size: 24px;
  text-align: left;
  /* line-height: 100px; */
  text-indent: 3em;
  /* margin: 15px; */
}

.main-faq-title {
  font-size: 40px;
  margin-top: 180px;
  margin-bottom: 80px;
}

.open-close-element {
  position: inherit;
  width: 35px;
  height: 35px;
  float: right;
  
  margin-top: 35px;
  margin-right: 1em;
}