.hostShortType {
  width: 400px;
  height: 175px;
  left: 301px;
  top: 38px;

  background: #FFFFFF;
  border: 0.7px solid #aeaeae;
  box-sizing: border-box;
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  flex-direction: row;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 30px;
  font-weight: 500;
  text-indent: 1em;
  margin-top: 0.5em;
}

.location {
  font-size: 20px;
  font-weight: 400;
  text-indent: 1.5em;
  margin-top: 0.5em;
}

.shortTag {
  width: 80px;
  height: 35px;
  font-size: 15px;
  border: 0.7px solid #aeaeae;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;

  background-color: #f3f3f3;
}
  
.centerized {
  text-align: center;
  line-height: 30px;

  background-color: #f3f3f3;
}

.longTag {
  width: 180px;
  height: 50px;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #aeaeae;
  border-radius: 20px;
  text-align: center;
  line-height: 45px;
}

.container-long-tag {
  display: grid;
  grid-template-columns: 180px 180px 180px; 
  grid-template-rows: 70px;
  grid-column-gap: 10px;
  margin-left: 0.9em;
}

.container {
  display: grid;
  grid-template-columns: 82px 82px 82px 82px; 
  grid-template-rows: 100px;
  grid-column-gap: 5px;
  margin-left: 1.3em;
  margin-top: 10px;
}

.grids-for-list {
  display: grid;
  grid-template-columns: 450px 450px 450px; 
  grid-template-rows: 250px;
  margin-top: 10px;
  margin-left: 13em;
}

.preview {
  position: absolute;
  width: 600px;
  height: 820px;
  border: 0.7px solid #aeaeae;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border: 0.7px solid #aeaeae;
  border-radius: 10px;
  filter: none;
}

.close-in-preview {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.titleInDetailedPreview {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-indent: 1.3em;
}

.descriptionInDetailedPreview {
  width: auto;
  height: 200px;
  font-weight: 300;
  font-size: 18px;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
}

.infoButtonInDetailedPreview {
  height: 50px;

  background: #9AACA2;
  border: 1px solid #8E9A93;
  box-sizing: border-box;
  box-shadow: -2px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;

  text-align: center;
  line-height: 45px;

  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 20px;
}

.questionType {
  width: 805px;
  height: 108px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  background: #B3C1B9;
  border: 0.7px solid #A9B2AD;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-size: 24px;
  text-align: left;
  line-height: 100px;
  text-indent: 3em;
}

.answerType {
  width: 785px;

  background: rgba(179, 193, 185, 0.5);
  border: 0.7px solid #A9B2AD;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 755px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  padding: 15px;

  font-size: 24px;
  text-align: left
  text-indent: 3em;
}

.main-faq-title {
  font-size: 40px;
  margin-top: 180px;
  margin-bottom: 80px;
}

.open-close-element {
  position: inherit;
  width: 35px;
  height: 35px;
  float: right;
  
  margin-top: 35px;
  margin-right: 1em;
}